:root {
    --SIZE: 650px;
}

.pageErrorStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.codeErrorStyles {
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
}

.msgErrorStyles {
    font-size: 1.5rem;
    margin: 1rem auto;
}

.gifErrorStyles {
    margin: 1rem auto;
    width: --SIZE;
    height: --SIZE;
    object-fit: cover;
}